@font-face {
    font-family: NuberNext;
    src: url(../Fonts/NuberNext\ DemiBold\ Condensed.ttf);
}

:root {
    --true-width: min(100vw, calc(100vh * (16/9)));
    -webkit-user-select: none;
    user-select: none;
}

body {
    background-color: black;
    font-family: NuberNext, Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.menu {
    background: rgb(110, 110, 255);
    width: var(--true-width);
    height: auto;
    aspect-ratio: 16/9;
    max-width: 100vw;
    max-height: 100vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    overflow: hidden;
}

.loadingScreen {
    background-color: black;
    width: 100%;
    height: 100%;
    padding: 0%;
    opacity: 1;
    left: 0%;
    top: 0%;
    position: absolute;
    visibility: hidden;
    object-fit: cover;
}

.bg {
    position: absolute;
    height: 100%;
    left: 50%;
    top: 50%;
    object-fit: contain;
    transform: translate(-50%, -50%);
}

.UI {
    position: absolute;
    height: 10%;
    font-size: 4ch;
    color: white;
    transform: translate(-50%, -50%);
}