:root {
  --green: #00FF00;
  --white: #FFFFFF;
  --black: #000000;
}
body {
  background: var(--bg);
  color: var(--fontColor);
  font-family: helvetica;
}

li {
  list-style: circle;
}

.list {
  list-style: square;
}

.light-theme {
    color: #000000;
    background: #0082b6;
    --btnBg: var(--black);
    --btnFontColor: var(--white);
}

.dark-theme {
    --bg: var(--black);
    --fontColor: var(--green);
    --btnBg: var(--white);
    --btnFontColor: var(--black);
}

.btn {
    position: absolute;
    top: 20px;
    left: 550px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}
.btn_Story {
    position: absolute;
    top: 20px;
    left: 650px;
    height: 50px;
    width: fit-content;
    border-radius: 20%;
    border: none;
    color: var(--btnFontColor);
    background-color: var(--btnBg);
}

.loadingScreen {
  width: 100%;
  height: 100%;
  padding: 0%;
  opacity: 0;
  left: 0%;
  top: 0%;
  position: absolute;
  visibility: hidden;
  object-fit: contain;
}