:root {
    --primary-color: #af3535;
    --secondary-color: #2ecc71;
    --text-color: #ffffff;
    --true-width: min(100vw, calc(100vh * (16/9)));
    --true-height: calc(min(100vw, calc(100vh * (16/9))) * 9/16);
}

body {
    background-color: var(--primary-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.UI_element {
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    filter: invert(1);
    -webkit-filter: invert(1);
    position: absolute;
    top: 2%;
    z-index: 3;
}

#Transcript {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
    cursor: pointer;
}

#Story-box {
    background: #000000; 
    color: #ffffff;
    object-fit: contain;
    width: var(--true-width);
    height: auto;
    aspect-ratio: 16/9;
    max-width: 100vw;
    max-height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1rem;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.background {
    background-color: transparent;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
    position: absolute;
}

.character {
    margin-top: 10%;
    background-color: transparent;
    width: auto;
    height: 130%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    /* transform: translateX(-50%) translateY(-50%); */
}

.overlay {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(212, 9, 9, 0) 10%, rgba(0, 0, 0, 0) 80%, rgb(0, 0, 0) 90%, rgb(0, 0, 0) 100%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0px;
    left: 0px;
    position: absolute;
}

.speaker {
    text-align: right;
    color: #aaaaaa;
    width: fit-content;
    margin: 0;
    top: 0;
    right: 70%;
    font-size: calc(var(--true-height) *.05);
    font-weight: normal;
    position: absolute;
}

.dialouge {
    text-align: left;
    color: #ffffff;
    width: calc(var(--true-width)/2);
    margin: 0;
    top: 0.5ch;
    left: calc(100% + 2.5ch);
    font-size: .75em;
    position: absolute;
}

.voice {
    text-align: center;
    color: #ffffff;
    width: calc(var(--true-width)/2);
    margin: 0;
    top: 50%;
    left: 50%;
    font-size: calc(var(--true-height) *.03);
    transform: translate(-50%, -50%);
    position: absolute;
}