@font-face {
    font-family: NuberNext;
    src: url(../Fonts/NuberNext\ DemiBold\ Condensed.ttf);
}

:root {
    --primary-color: #000000;
    --text-color: #ffffff;
    --true-width: min(100vw, calc(100vh * (16/9)));
    --true-height: calc(min(100vw, calc(100vh * (16/9))) * 9/16);
    -webkit-user-select: none;
    user-select: none;
}

body {
    background-color: var(--primary-color);
    color: var(--text-color);
    font-family: NuberNext, Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}

.loadingScreen {
    background-color: black;
    width: 100%;
    height: 100%;
    padding: 0%;
    opacity: 1;
    left: 0%;
    top: 0%;
    position: absolute;
    visibility: visible;
    object-fit: contain;
}

.UI_element {
    background: transparent;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    filter: invert(1);
    -webkit-filter: invert(1);
    position: absolute;
    top: 2%;
    z-index: 3;
    font-family: NuberNext;
}

#Transcript {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.85);
    z-index: 10;
    cursor: pointer;
    overflow-y: auto;
    white-space: nowrap;
    visibility: hidden;
}

.logLine {
    height: 1.2ch;
    width: 100%;
    font-size: 1.75rem;
    position: relative;
    padding: .75ch 0;
}

.logPointer {
    text-align: left;
    color: #ffc400;  
    width: 2ch;
    margin: 0;
    left: 29.75%;
    top: 13%;
    font-size: .8em; 
    position: absolute;
    opacity: 0;
}

.logSpeaker {
    text-align: right;
    color: #aaaaaa;
    width: fit-content;
    margin: 0;
    top: 0.5ch;
    right: 71%;
    font-size: .8em;
    font-weight: normal;
    position: absolute;
}

.logDialouge {
    text-align: left;
    color: #ffffff;
    width: 60%;
    margin: 0;
    top: 0.6ch;
    left: calc(30% + 2.25ch);
    font-size: .75em;
    position: absolute;
}

#Skip-Menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(rgba(126, 126, 126, 0.5), rgba(212, 9, 9, 0) 20%, rgba(0, 0, 0, 0) 70%, rgb(0, 0, 0) 91.5%, rgb(0, 0, 0) 100%);
    z-index: 10;
    visibility: hidden;
}

#Summary {
    position: fixed;
    width: 100%;
    height: 40%;
    top: 30%;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000000c5;
    text-align: center;
    position: absolute;
}

#Summary-Header {
    width: 100%;
    height: 40%;
    top: 8%;
    position: absolute;
}

#Summary-Text {
    width: 64ch;
    height: 40%;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    text-align: left;
    position: absolute;
    font-size: calc(var(--true-height) *.03);
}

#Summary-Controls {
    width: 24ch;
    height: 1ch;
    left: 50%;;
    bottom: 20%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: calc(var(--true-height) *.0245);
}

.Skip_Icons {
    position: absolute;
    width: 3%;
    bottom: 8%;
    filter: invert(35%);
}

.Line {
    width: 33%;
    height: .75%;
    bottom: 14%;
    background: #b3b3b3;
    position: absolute;
}

#Story-box {
    background: #000000; 
    color: #ffffff;
    object-fit: contain;
    width: var(--true-width);
    height: auto;
    aspect-ratio: 16/9;
    max-width: 100vw;
    max-height: 100vh;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 1rem;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.fill {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.background {
    background-color: transparent;
    width: 100%;
    object-fit: cover;
    object-position: bottom;
    position: absolute;
}

.character {
    margin-top: 10%;
    background-color: transparent;
    width: auto;
    height: 130%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 0;
}

.overlay {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(212, 9, 9, 0) 10%, rgba(0, 0, 0, 0) 80%, rgb(0, 0, 0) 91.5%, rgb(0, 0, 0) 100%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    top: 0px;
    left: 0px;
    position: absolute;
}

.text {
    text-align: right;
    color: #aaaaaa;
    width: fit-content;
    margin: 0;
    bottom: 15%;
    right: 70%;
    font-size: calc(var(--true-height) *.045);
    font-weight: normal;
    position: absolute;
}

.speaker {
    text-align: right;
    color: #aaaaaa;
    width: 30ch;
    margin: 0;
    top: 0;
    right: 70%;
    font-size: calc(var(--true-height) *.045);
    font-weight: normal;
    position: absolute;
}

.dialouge {
    text-align: left;
    color: #ffffff;
    width: 87ch;
    margin: 0;
    top: 0.7ch;
    left: calc(100% + 2.5ch);
    font-size: .75em;
    position: absolute;
}

.voice {
    text-align: center;
    color: #ffffff;
    width: 80ch;
    margin: 0;
    top: 50%;
    left: 50%;
    font-size: calc(var(--true-height) *.03);
    transform: translate(-50%, -50%);
    position: absolute;
}

.blocker {
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
}

.layer {
    width: 100%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    font-size: 0;
}

