@font-face {
    font-family: NuberNext;
    src: url(../Fonts/NuberNext\ DemiBold\ Condensed.ttf);
}

:root {
    -webkit-user-select: none;
    user-select: none;
}

body {
    background-color: var(--primary-color);
    font-family: NuberNext, Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    min-height: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow: hidden;
}

#bgOverlay {
    background-image: url("./imgs/bg.png");
    background-blend-mode: multiply;
    width: 100%;
    height: 100%;
    left: 0%;
    top: 0%;
    position: absolute;
    visibility: visible;
    object-fit: cover;
    box-shadow: inset 0 0 10vh 0.25vh rgb(0, 0, 0);
}

.loadingScreen {
    background-color: black;
    width: 100%;
    height: 100%;
    padding: 0%;
    opacity: 1;
    left: 0%;
    top: 0%;
    position: absolute;
    visibility: visible;
    object-fit: contain;
}

.banner {
    height: 100vh;
    width: fit-content;
    left: 0;
    top: 0;
    filter: drop-shadow(.75ch 0ch 1.25ch #00000080);
}

.stories {
    height: 100vh;
    width: 100%;
    overflow-y: auto;
    display: flex;
}

.vignette {
    height: 100vh;
    width: calc(75vh/64*35);
    background-color: rgba(0, 81, 255, 0);
    top: 0;
    left: 0;
    flex: 0 0 auto;
    position: relative;
    filter: drop-shadow(.75ch 0ch 1.25ch #00000080);
}

.vignette-upper {
    height: 70%;
    width: 100%;
    background-color: rgb(66, 66, 66);
    top: 0;
    left: 0;
    object-fit: cover;
    position: absolute;
    overflow: hidden;
}

.vignette-bg {
    height: 100%;
    position: absolute;
    object-fit: cover;
}

.vignette-item {
    height: 175%;
    top: 85%;
    left: 75%;
    object-fit: cover;
    transform: translate(-50%, -50%);
    position: absolute;
}

.vignette-lower {
    background-color: rgba(0, 0, 0, 0.568);
    height: 30%;
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    box-shadow: inset 0 0 1vh 0.25vh rgba(255, 255, 255, 0.5);
}

.vignette-title {
    top: 8%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3.2vh;
    text-align: center;
    position: absolute;
}

.vignette-btn {
    width: 65%;
    bottom: -10%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.vignette-arrow {
    height: 15%;
    width: 40%;
    bottom: 22.5%;
    left: 41.5%;
    font-size: 4ch;
    text-align: center;
    background-color: rgb(248, 248, 248);
    position: absolute;
    text-shadow: .1ch .5ch .5ch #00000080;
    filter: drop-shadow(.75ch .75ch 1.25ch #00000080);
}

.vignette-confidential {
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    filter: brightness(2);
}

.vignette-locked {
    width: 65%;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.vignette-mask {
    width: 100%;
    bottom: 100%;
    position: absolute;
    object-fit: fill;
}